/* classify.html only - namespaced under #page-classify (see app/templates/classify.html) */

#page-classify .sentence button {
	margin-right: 15px;
}

#page-classify .sentence.classified pre {
	text-decoration: line-through;
}

#page-classify .sentence.classified button {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}
