body {
	font-family: 'Helvetica';
	margin: 0;
	background-color: #eeEbE6;
}

/* header */

header {
	height: 55px;
	background-color: #649cc7;
	color: white;
}

header h1 {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	margin: 0;
	padding-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	display: inline-block;
}

header a {
	padding-right: 10px;
	font-size: 1.1em;
	color: white;
	text-decoration: none;
}

/* page css  */
.content {
	text-align: center;
	padding: 0 15px;
	padding-top: 15px;
}

/* Entry css */
.entry {
	width: 800px;
	background-color: white;
	margin: 0 auto;
	text-align: left;
	padding: 25px;
	border: 1px solid #C9C9C9;
	margin-bottom: 25px;
	border-radius: 5px;
}

.entry h2 {
	text-align: center;
	width: 100%;
	color: #a41100;
}

pre {
	width: 100%;
	white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

h2 {
	display: inline-block;
}

b {
	color: red;
}

b.name {
	color: blue;
}

b.search {
	color: red;
}

.scores div {
	padding-bottom: 10px;
}

.scores button {

}

pre .negative_2 {
	color: red;
	font-weight: bold;
}

pre .negative_1 {
	color: red;
}

pre .positive_1 {
	color: green;
}

pre .positive_2 {
	color: green;
	font-weight: bold;
}

/*sentence */

.sentence button {
	margin-right: 15px;
}

.sentence.classified pre {
	text-decoration: line-through;
}

.sentence.classified button {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}

/*Analysis and progress*/

.thread progress {
	height: 5em;
	width: 20em;
}

/* Chart */

.chart-container {
	margin: 0 auto;
	width: 65%;
}

/*nav links */

nav ul {
	width: 100%;
	margin: 0;
	-webkit-padding-start: 0;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	color: blue;
	border-right: 1px solid black;
	padding: 0 5px;
}

nav ul li:last-child a {
	border-right: none;
}