<!DOCTYPE html>
<html>
{% include "_head.html" %}
<body id="page-classify">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/classify.css') }}">
<script src="{{ url_for('static', filename='javascript/classify.js') }}"></script>

{% include "_header_nav.html" %}

<div class="content">
	{% for sentence in sentences %}
		<div class="sentence">
			<pre>{{ sentence }}</pre>
			<div>
				<button data-sentiment='pos'>Positive +</button>
				<button data-sentiment='neg'>Negative -</button>
				<button data-sentiment='neutral'>Neutral</button>
			</div>
			<hr>
		</div>
	{% endfor %}

	<a href="/classify_sentences">Refresh</a>
</div>
</body>
</html>