<!DOCTYPE html>
<html>
{% include "_head.html" %}
<body>

{% include "_header_nav.html" %}

<div class="content">
    <form method="get" action="/ngrams">
        <div>
            <span><h2>N-Grams</h2></span>
        </div>

        {% include "_range_nav.html" %}
    </form>

    <div class="chart-container">
        <canvas class="chart"></canvas>
        <canvas class="chart"></canvas>
        <canvas class="chart"></canvas>

        <script>
            {% for graph_label in graph_labels %}
                // bar chart data
                var barData = {
                    labels : [
                      {% for item in graph_label.keys() %}
                       "{{ item }}",
                      {% endfor %}
                    ],

                    datasets : [{
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        data : [
                            {% for item in graph_label.values() %}
                                {{ item }},
                            {% endfor %}
                        ]
                    }]
                }

                // get bar chart canvas
                var mychart = document.getElementsByClassName("chart")[{{ loop.index-1 }}].getContext("2d");

                // // draw bar chart
                new Chart(mychart, {type: 'horizontalBar', data: barData, 
                    options: { title: { display: true, text: '{{ "N Gram {}".format(loop.index+2) }}'}}})
            {% endfor %}
        </script>
    </div>
</form>

</div>
</body>
</html>