<!DOCTYPE html>
<html>
{% include "_head.html" %}
<body>

{% include "_header_nav.html" %}

<div class="content">
    <form method="get" action="/ngrams">
        <div>
            <span><h2>N-Grams</h2></span>
        </div>

        {% include "_range_nav.html" %}
    </form>

    <div class="chart-container">
        <canvas class="chart"></canvas>

        <br><br>
        <canvas class="chart"></canvas>

        <br><br>
        <canvas class="chart"></canvas>
        <br><br>

        <script>
            {% for chart in charts %}
                var ctx = document.getElementsByClassName("chart")[{{ loop.index-1 }}].getContext("2d");
                var data = {{ chart | safe }}
                new Chart(ctx, data);
            {% endfor %}
        </script>
    </div>
</form>

</div>
</body>
</html>