<!DOCTYPE html>
<html>
{% include "_head.html" %}
<body id="page-places">

{% include "_header_nav.html" %}

<div class="content">
    <form method="get" action={{ formAction }}>
        <div>
            <span><h2>Places</h2></span>
        </div>

        {% include "_range_nav.html" %}
    </form>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Mentions</th>
                    <th>Unique Days</th>
                </tr>
            </thead>
            <tbody>
                {% for total in totals %}
                <tr>
                    <td>{{ total.location }}</td>
                    <td>{{ total.mention_count }}</td>
                    <td>{{ total.unique_days }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
</body>
</html>
