<!DOCTYPE html>
<html>
{% include "_head.html" %}
<body>

{% include "_header_nav.html" %}

<div class="content">
    <form method="get" action="/words">
        <div>
            <span><h2>Word Counts</h2></span>
        </div>

        {% include "_range_nav.html" %}
    </form>

    <br><br>

    <div class="chart-container">
        <canvas id="chart" width="600" height="400"></canvas>

        <script>
            var chartData = {
                labels : [
                  {% for item in labels %}
                   "{{ item }}",
                  {% endfor %}
                ],

                datasets : [{
                    backgroundColor: "rgba(211,200,217,1)",
                    borderColor: "rgba(206,217,200,1)",
                    data : [
                        {% for item in values %}
                            {{ item }},
                        {% endfor %}
                    ]
                }]
            }

            // get bar chart canvas
            var mychart = document.getElementById("chart").getContext("2d");
            var chartOptions = {{ chartOptions | safe }}
            var chartType = "{{ chartType }}"

            // draw bar chart
            new Chart(mychart, {type: chartType, data: chartData, options: chartOptions})
        </script>
    </div>
</form>

</div>
</body>
</html>